/src/main/java/edu/cmu/tetrad/search/BuildPureClusters.java
# Created by .ignore support plugin (hsz.mobi)

# IntelliJ IDEA files.
.idea/**
tetrad-gui/tetrad-gui.iml
tetrad-lib/tetrad-lib.iml
tetrad-cli/tetrad-cli.iml
causal-cmd/causal-cmd.iml
tetrad.iml
*.iml
analysis/AnalysisScriptAlpha.java
analysis/TestFunctions.java
tetrad-gui/build
tetrad-gui/build/**

.settings/*
causal-cmd/.settings/*
tetrad-gui/.settings/*
tetrad-lib/.settings/*
causal-cmd/build/*
tetrad-gui/build/*
tetrad-lib/build/*

tetrad-gui/target/*
tetrad-lib/target/*

tetrad-gui/bin/*
tetrad-lib/bin/*
/data-reader/target/
/comparison3c/
/boss/simulation1/save/1/graph/graph.1.txt
/boss/simulation1/save/1/graph/graph.2.txt
/boss/simulation1/save/1/graph/graph.3.txt
/boss/simulation1/save/1/graph/graph.4.txt
/boss/simulation1/save/1/graph/graph.5.txt
/boss/simulation1/save/1/graph/graph.6.txt
/boss/simulation1/save/1/graph/graph.7.txt
/boss/simulation1/save/1/graph/graph.8.txt
/boss/simulation1/save/1/graph/graph.9.txt
/boss/simulation1/save/1/graph/graph.10.txt
/boss/simulation1/save/1/graph/graph.11.txt
/boss/simulation1/save/1/graph/graph.12.txt
/boss/simulation1/save/1/graph/graph.13.txt
/boss/simulation1/save/1/graph/graph.14.txt
/boss/simulation1/save/1/graph/graph.15.txt
/boss/simulation1/save/1/graph/graph.16.txt
/boss/simulation1/save/1/graph/graph.17.txt
/boss/simulation1/save/1/graph/graph.18.txt
/boss/simulation1/save/1/graph/graph.19.txt
/boss/simulation1/save/1/graph/graph.20.txt
/boss/simulation1/save/1/graph/graph.21.txt
/boss/simulation1/save/1/graph/graph.22.txt
/boss/simulation1/save/1/graph/graph.23.txt
/boss/simulation1/save/1/graph/graph.24.txt
/boss/simulation1/save/1/graph/graph.25.txt
/boss/simulation1/save/1/graph/graph.26.txt
/boss/simulation1/save/1/graph/graph.27.txt
/boss/simulation1/save/1/graph/graph.28.txt
/boss/simulation1/save/1/graph/graph.29.txt
/boss/simulation1/save/1/graph/graph.30.txt
/boss/simulation1/save/1/graph/graph.31.txt
/boss/simulation1/save/1/graph/graph.32.txt
/boss/simulation1/save/1/graph/graph.33.txt
/boss/simulation1/save/1/graph/graph.34.txt
/boss/simulation1/save/1/graph/graph.35.txt
/boss/simulation1/save/1/graph/graph.36.txt
/boss/simulation1/save/1/graph/graph.37.txt
/boss/simulation1/save/1/graph/graph.38.txt
/boss/simulation1/save/1/graph/graph.39.txt
/boss/simulation1/save/1/graph/graph.40.txt
/boss/simulation1/save/1/graph/graph.41.txt
/boss/simulation1/save/1/graph/graph.42.txt
/boss/simulation1/save/1/graph/graph.43.txt
/boss/simulation1/save/1/graph/graph.44.txt
/boss/simulation1/save/1/graph/graph.45.txt
/boss/simulation1/save/1/graph/graph.46.txt
/boss/simulation1/save/1/graph/graph.47.txt
/boss/simulation1/save/1/graph/graph.48.txt
/boss/simulation1/save/1/graph/graph.49.txt
/boss/simulation1/save/1/graph/graph.50.txt
/boss/simulation1/save/1/parameters.txt
/boss/simulation1/save/2/graph/graph.1.txt
/boss/simulation1/save/2/graph/graph.2.txt
/boss/simulation1/save/2/graph/graph.3.txt
/boss/simulation1/save/2/graph/graph.4.txt
/boss/simulation1/save/2/graph/graph.5.txt
/boss/simulation1/save/2/graph/graph.6.txt
/boss/simulation1/save/2/graph/graph.7.txt
/boss/simulation1/save/2/graph/graph.8.txt
/boss/simulation1/save/2/graph/graph.9.txt
/boss/simulation1/save/2/graph/graph.10.txt
/boss/simulation1/save/2/graph/graph.11.txt
/boss/simulation1/save/2/graph/graph.12.txt
/boss/simulation1/save/2/graph/graph.13.txt
/boss/simulation1/save/2/graph/graph.14.txt
/boss/simulation1/save/2/graph/graph.15.txt
/boss/simulation1/save/2/graph/graph.16.txt
/boss/simulation1/save/2/graph/graph.17.txt
/boss/simulation1/save/2/graph/graph.18.txt
/boss/simulation1/save/2/graph/graph.19.txt
/boss/simulation1/save/2/graph/graph.20.txt
/boss/simulation1/save/2/graph/graph.21.txt
/boss/simulation1/save/2/graph/graph.22.txt
/boss/simulation1/save/2/graph/graph.23.txt
/boss/simulation1/save/2/graph/graph.24.txt
/boss/simulation1/save/2/graph/graph.25.txt
/boss/simulation1/save/2/graph/graph.26.txt
/boss/simulation1/save/2/graph/graph.27.txt
/boss/simulation1/save/2/graph/graph.28.txt
/boss/simulation1/save/2/graph/graph.29.txt
/boss/simulation1/save/2/graph/graph.30.txt
/boss/simulation1/save/2/graph/graph.31.txt
/boss/simulation1/save/2/graph/graph.32.txt
/boss/simulation1/save/2/graph/graph.33.txt
/boss/simulation1/save/2/graph/graph.34.txt
/boss/simulation1/save/2/graph/graph.35.txt
/boss/simulation1/save/2/graph/graph.36.txt
/boss/simulation1/save/2/graph/graph.37.txt
/boss/simulation1/save/2/graph/graph.38.txt
/boss/simulation1/save/2/graph/graph.39.txt
/boss/simulation1/save/2/graph/graph.40.txt
/boss/simulation1/save/2/graph/graph.41.txt
/boss/simulation1/save/2/graph/graph.42.txt
/boss/simulation1/save/2/graph/graph.43.txt
/boss/simulation1/save/2/graph/graph.44.txt
/boss/simulation1/save/2/graph/graph.45.txt
/boss/simulation1/save/2/graph/graph.46.txt
/boss/simulation1/save/2/graph/graph.47.txt
/boss/simulation1/save/2/graph/graph.48.txt
/boss/simulation1/save/2/graph/graph.49.txt
/boss/simulation1/save/2/graph/graph.50.txt
/boss/simulation1/save/2/parameters.txt
/boss/simulation1/save/3/graph/graph.1.txt
/boss/simulation1/save/3/graph/graph.2.txt
/boss/simulation1/save/3/graph/graph.3.txt
/boss/simulation1/save/3/graph/graph.4.txt
/boss/simulation1/save/3/graph/graph.5.txt
/boss/simulation1/save/3/graph/graph.6.txt
/boss/simulation1/save/3/graph/graph.7.txt
/boss/simulation1/save/3/graph/graph.8.txt
/boss/simulation1/save/3/graph/graph.9.txt
/boss/simulation1/save/3/graph/graph.10.txt
/boss/simulation1/save/3/graph/graph.11.txt
/boss/simulation1/save/3/graph/graph.12.txt
/boss/simulation1/save/3/graph/graph.13.txt
/boss/simulation1/save/3/graph/graph.14.txt
/boss/simulation1/save/3/graph/graph.15.txt
/boss/simulation1/save/3/graph/graph.16.txt
/boss/simulation1/save/3/graph/graph.17.txt
/boss/simulation1/save/3/graph/graph.18.txt
/boss/simulation1/save/3/graph/graph.19.txt
/boss/simulation1/save/3/graph/graph.20.txt
/boss/simulation1/save/3/graph/graph.21.txt
/boss/simulation1/save/3/graph/graph.22.txt
/boss/simulation1/save/3/graph/graph.23.txt
/boss/simulation1/save/3/graph/graph.24.txt
/boss/simulation1/save/3/graph/graph.25.txt
/boss/simulation1/save/3/graph/graph.26.txt
/boss/simulation1/save/3/graph/graph.27.txt
/boss/simulation1/save/3/graph/graph.28.txt
/boss/simulation1/save/3/graph/graph.29.txt
/boss/simulation1/save/3/graph/graph.30.txt
/boss/simulation1/save/3/graph/graph.31.txt
/boss/simulation1/save/3/graph/graph.32.txt
/boss/simulation1/save/3/graph/graph.33.txt
/boss/simulation1/save/3/graph/graph.34.txt
/boss/simulation1/save/3/graph/graph.35.txt
/boss/simulation1/save/3/graph/graph.36.txt
/boss/simulation1/save/3/graph/graph.37.txt
/boss/simulation1/save/3/graph/graph.38.txt
/boss/simulation1/save/3/graph/graph.39.txt
/boss/simulation1/save/3/graph/graph.40.txt
/boss/simulation1/save/3/graph/graph.41.txt
/boss/simulation1/save/3/graph/graph.42.txt
/boss/simulation1/save/3/graph/graph.43.txt
/boss/simulation1/save/3/graph/graph.44.txt
/boss/simulation1/save/3/graph/graph.45.txt
/boss/simulation1/save/3/graph/graph.46.txt
/boss/simulation1/save/3/graph/graph.47.txt
/boss/simulation1/save/3/graph/graph.48.txt
/boss/simulation1/save/3/graph/graph.49.txt
/boss/simulation1/save/3/graph/graph.50.txt
/boss/simulation1/save/3/parameters.txt
/boss/simulation1/save/4/graph/graph.1.txt
/boss/simulation1/save/4/graph/graph.2.txt
/boss/simulation1/save/4/graph/graph.3.txt
/boss/simulation1/save/4/graph/graph.4.txt
/boss/simulation1/save/4/graph/graph.5.txt
/boss/simulation1/save/4/graph/graph.6.txt
/boss/simulation1/save/4/graph/graph.7.txt
/boss/simulation1/save/4/graph/graph.8.txt
/boss/simulation1/save/4/graph/graph.9.txt
/boss/simulation1/save/4/graph/graph.10.txt
/boss/simulation1/save/4/graph/graph.11.txt
/boss/simulation1/save/4/graph/graph.12.txt
/boss/simulation1/save/4/graph/graph.13.txt
/boss/simulation1/save/4/graph/graph.14.txt
/boss/simulation1/save/4/graph/graph.15.txt
/boss/simulation1/save/4/graph/graph.16.txt
/boss/simulation1/save/4/graph/graph.17.txt
/boss/simulation1/save/4/graph/graph.18.txt
/boss/simulation1/save/4/graph/graph.19.txt
/boss/simulation1/save/4/graph/graph.20.txt
/boss/simulation1/save/4/graph/graph.21.txt
/boss/simulation1/save/4/graph/graph.22.txt
/boss/simulation1/save/4/graph/graph.23.txt
/boss/simulation1/save/4/graph/graph.24.txt
/boss/simulation1/save/4/graph/graph.25.txt
/boss/simulation1/save/4/graph/graph.26.txt
/boss/simulation1/save/4/graph/graph.27.txt
/boss/simulation1/save/4/graph/graph.28.txt
/boss/simulation1/save/4/graph/graph.29.txt
/boss/simulation1/save/4/graph/graph.30.txt
/boss/simulation1/save/4/graph/graph.31.txt
/boss/simulation1/save/4/graph/graph.32.txt
/boss/simulation1/save/4/graph/graph.33.txt
/boss/simulation1/save/4/graph/graph.34.txt
/boss/simulation1/save/4/graph/graph.35.txt
/boss/simulation1/save/4/graph/graph.36.txt
/boss/simulation1/save/4/graph/graph.37.txt
/boss/simulation1/save/4/graph/graph.38.txt
/boss/simulation1/save/4/graph/graph.39.txt
/boss/simulation1/save/4/graph/graph.40.txt
/boss/simulation1/save/4/graph/graph.41.txt
/boss/simulation1/save/4/graph/graph.42.txt
/boss/simulation1/save/4/graph/graph.43.txt
/boss/simulation1/save/4/graph/graph.44.txt
/boss/simulation1/save/4/graph/graph.45.txt
/boss/simulation1/save/4/graph/graph.46.txt
/boss/simulation1/save/4/graph/graph.47.txt
/boss/simulation1/save/4/graph/graph.48.txt
/boss/simulation1/save/4/graph/graph.49.txt
/boss/simulation1/save/4/graph/graph.50.txt
/boss/simulation1/save/4/parameters.txt
/boss/simulation1/save/5/graph/graph.1.txt
/boss/simulation1/save/5/graph/graph.2.txt
/boss/simulation1/save/5/graph/graph.3.txt
/boss/simulation1/save/5/graph/graph.4.txt
/boss/simulation1/save/5/graph/graph.5.txt
/boss/simulation1/save/5/graph/graph.6.txt
/boss/simulation1/save/5/graph/graph.7.txt
/boss/simulation1/save/5/graph/graph.8.txt
/boss/simulation1/save/5/graph/graph.9.txt
/boss/simulation1/save/5/graph/graph.10.txt
/boss/simulation1/save/5/graph/graph.11.txt
/boss/simulation1/save/5/graph/graph.12.txt
/boss/simulation1/save/5/graph/graph.13.txt
/boss/simulation1/save/5/graph/graph.14.txt
/boss/simulation1/save/5/graph/graph.15.txt
/boss/simulation1/save/5/graph/graph.16.txt
/boss/simulation1/save/5/graph/graph.17.txt
/boss/simulation1/save/5/graph/graph.18.txt
/boss/simulation1/save/5/graph/graph.19.txt
/boss/simulation1/save/5/graph/graph.20.txt
/boss/simulation1/save/5/graph/graph.21.txt
/boss/simulation1/save/5/graph/graph.22.txt
/boss/simulation1/save/5/graph/graph.23.txt
/boss/simulation1/save/5/graph/graph.24.txt
/boss/simulation1/save/5/graph/graph.25.txt
/boss/simulation1/save/5/graph/graph.26.txt
/boss/simulation1/save/5/graph/graph.27.txt
/boss/simulation1/save/5/graph/graph.28.txt
/boss/simulation1/save/5/graph/graph.29.txt
/boss/simulation1/save/5/graph/graph.30.txt
/boss/simulation1/save/5/graph/graph.31.txt
/boss/simulation1/save/5/graph/graph.32.txt
/boss/simulation1/save/5/graph/graph.33.txt
/boss/simulation1/save/5/graph/graph.34.txt
/boss/simulation1/save/5/graph/graph.35.txt
/boss/simulation1/save/5/graph/graph.36.txt
/boss/simulation1/save/5/graph/graph.37.txt
/boss/simulation1/save/5/graph/graph.38.txt
/boss/simulation1/save/5/graph/graph.39.txt
/boss/simulation1/save/5/graph/graph.40.txt
/boss/simulation1/save/5/graph/graph.41.txt
/boss/simulation1/save/5/graph/graph.42.txt
/boss/simulation1/save/5/graph/graph.43.txt
/boss/simulation1/save/5/graph/graph.44.txt
/boss/simulation1/save/5/graph/graph.45.txt
/boss/simulation1/save/5/graph/graph.46.txt
/boss/simulation1/save/5/graph/graph.47.txt
/boss/simulation1/save/5/graph/graph.48.txt
/boss/simulation1/save/5/graph/graph.49.txt
/boss/simulation1/save/5/graph/graph.50.txt
/boss/simulation1/save/5/parameters.txt
/boss/simulation1/save/6/graph/graph.1.txt
/boss/simulation1/save/6/graph/graph.2.txt
/boss/simulation1/save/6/graph/graph.3.txt
/boss/simulation1/save/6/graph/graph.4.txt
/boss/simulation1/save/6/graph/graph.5.txt
/boss/simulation1/save/6/graph/graph.6.txt
/boss/simulation1/save/6/graph/graph.7.txt
/boss/simulation1/save/6/graph/graph.8.txt
/boss/simulation1/save/6/graph/graph.9.txt
/boss/simulation1/save/6/graph/graph.10.txt
/boss/simulation1/save/6/graph/graph.11.txt
/boss/simulation1/save/6/graph/graph.12.txt
/boss/simulation1/save/6/graph/graph.13.txt
/boss/simulation1/save/6/graph/graph.14.txt
/boss/simulation1/save/6/graph/graph.15.txt
/boss/simulation1/save/6/graph/graph.16.txt
/boss/simulation1/save/6/graph/graph.17.txt
/boss/simulation1/save/6/graph/graph.18.txt
/boss/simulation1/save/6/graph/graph.19.txt
/boss/simulation1/save/6/graph/graph.20.txt
/boss/simulation1/save/6/graph/graph.21.txt
/boss/simulation1/save/6/graph/graph.22.txt
/boss/simulation1/save/6/graph/graph.23.txt
/boss/simulation1/save/6/graph/graph.24.txt
/boss/simulation1/save/6/graph/graph.25.txt
/boss/simulation1/save/6/graph/graph.26.txt
/boss/simulation1/save/6/graph/graph.27.txt
/boss/simulation1/save/6/graph/graph.28.txt
/boss/simulation1/save/6/graph/graph.29.txt
/boss/simulation1/save/6/graph/graph.30.txt
/boss/simulation1/save/6/graph/graph.31.txt
/boss/simulation1/save/6/graph/graph.32.txt
/boss/simulation1/save/6/graph/graph.33.txt
/boss/simulation1/save/6/graph/graph.34.txt
/boss/simulation1/save/6/graph/graph.35.txt
/boss/simulation1/save/6/graph/graph.36.txt
/boss/simulation1/save/6/graph/graph.37.txt
/boss/simulation1/save/6/graph/graph.38.txt
/boss/simulation1/save/6/graph/graph.39.txt
/boss/simulation1/save/6/graph/graph.40.txt
/boss/simulation1/save/6/graph/graph.41.txt
/boss/simulation1/save/6/graph/graph.42.txt
/boss/simulation1/save/6/graph/graph.43.txt
/boss/simulation1/save/6/graph/graph.44.txt
/boss/simulation1/save/6/graph/graph.45.txt
/boss/simulation1/save/6/graph/graph.46.txt
/boss/simulation1/save/6/graph/graph.47.txt
/boss/simulation1/save/6/graph/graph.48.txt
/boss/simulation1/save/6/graph/graph.49.txt
/boss/simulation1/save/6/graph/graph.50.txt
/boss/simulation1/save/6/parameters.txt
/boss/simulation1/save/7/graph/graph.1.txt
/boss/simulation1/save/7/graph/graph.2.txt
/boss/simulation1/save/7/graph/graph.3.txt
/boss/simulation1/save/7/graph/graph.4.txt
/boss/simulation1/save/7/graph/graph.5.txt
/boss/simulation1/save/7/graph/graph.6.txt
/boss/simulation1/save/7/graph/graph.7.txt
/boss/simulation1/save/7/graph/graph.8.txt
/boss/simulation1/save/7/graph/graph.9.txt
/boss/simulation1/save/7/graph/graph.10.txt
/boss/simulation1/save/7/graph/graph.11.txt
/boss/simulation1/save/7/graph/graph.12.txt
/boss/simulation1/save/7/graph/graph.13.txt
/boss/simulation1/save/7/graph/graph.14.txt
/boss/simulation1/save/7/graph/graph.15.txt
/boss/simulation1/save/7/graph/graph.16.txt
/boss/simulation1/save/7/graph/graph.17.txt
/boss/simulation1/save/7/graph/graph.18.txt
/boss/simulation1/save/7/graph/graph.19.txt
/boss/simulation1/save/7/graph/graph.20.txt
/boss/simulation1/save/7/graph/graph.21.txt
/boss/simulation1/save/7/graph/graph.22.txt
/boss/simulation1/save/7/graph/graph.23.txt
/boss/simulation1/save/7/graph/graph.24.txt
/boss/simulation1/save/7/graph/graph.25.txt
/boss/simulation1/save/7/graph/graph.26.txt
/boss/simulation1/save/7/graph/graph.27.txt
/boss/simulation1/save/7/graph/graph.28.txt
/boss/simulation1/save/7/graph/graph.29.txt
/boss/simulation1/save/7/graph/graph.30.txt
/boss/simulation1/save/7/graph/graph.31.txt
/boss/simulation1/save/7/graph/graph.32.txt
/boss/simulation1/save/7/graph/graph.33.txt
/boss/simulation1/save/7/graph/graph.34.txt
/boss/simulation1/save/7/graph/graph.35.txt
/boss/simulation1/save/7/graph/graph.36.txt
/boss/simulation1/save/7/graph/graph.37.txt
/boss/simulation1/save/7/graph/graph.38.txt
/boss/simulation1/save/7/graph/graph.39.txt
/boss/simulation1/save/7/graph/graph.40.txt
/boss/simulation1/save/7/graph/graph.41.txt
/boss/simulation1/save/7/graph/graph.42.txt
/boss/simulation1/save/7/graph/graph.43.txt
/boss/simulation1/save/7/graph/graph.44.txt
/boss/simulation1/save/7/graph/graph.45.txt
/boss/simulation1/save/7/graph/graph.46.txt
/boss/simulation1/save/7/graph/graph.47.txt
/boss/simulation1/save/7/graph/graph.48.txt
/boss/simulation1/save/7/graph/graph.49.txt
/boss/simulation1/save/7/graph/graph.50.txt
/boss/simulation1/save/7/parameters.txt
/boss/simulation1/save/8/graph/graph.1.txt
/boss/simulation1/save/8/graph/graph.2.txt
/boss/simulation1/save/8/graph/graph.3.txt
/boss/simulation1/save/8/graph/graph.4.txt
/boss/simulation1/save/8/graph/graph.5.txt
/boss/simulation1/save/8/graph/graph.6.txt
/boss/simulation1/save/8/graph/graph.7.txt
/boss/simulation1/save/8/graph/graph.8.txt
/boss/simulation1/save/8/graph/graph.9.txt
/boss/simulation1/save/8/graph/graph.10.txt
/boss/simulation1/save/8/graph/graph.11.txt
/boss/simulation1/save/8/graph/graph.12.txt
/boss/simulation1/save/8/graph/graph.13.txt
/boss/simulation1/save/8/graph/graph.14.txt
/boss/simulation1/save/8/graph/graph.15.txt
/boss/simulation1/save/8/graph/graph.16.txt
/boss/simulation1/save/8/graph/graph.17.txt
/boss/simulation1/save/8/graph/graph.18.txt
/boss/simulation1/save/8/graph/graph.19.txt
/boss/simulation1/save/8/graph/graph.20.txt
/boss/simulation1/save/8/graph/graph.21.txt
/boss/simulation1/save/8/graph/graph.22.txt
/boss/simulation1/save/8/graph/graph.23.txt
/boss/simulation1/save/8/graph/graph.24.txt
/boss/simulation1/save/8/graph/graph.25.txt
/boss/simulation1/save/8/graph/graph.26.txt
/boss/simulation1/save/8/graph/graph.27.txt
/boss/simulation1/save/8/graph/graph.28.txt
/boss/simulation1/save/8/graph/graph.29.txt
/boss/simulation1/save/8/graph/graph.30.txt
/boss/simulation1/save/8/parameters.txt
/boss/simulation1/save/9/graph/graph.1.txt
/boss/simulation1/save/9/graph/graph.2.txt
/boss/simulation1/save/9/graph/graph.3.txt
/boss/simulation1/save/9/graph/graph.4.txt
/boss/simulation1/save/9/graph/graph.5.txt
/boss/simulation1/save/9/graph/graph.6.txt
/boss/simulation1/save/9/graph/graph.7.txt
/boss/simulation1/save/9/graph/graph.8.txt
/boss/simulation1/save/9/graph/graph.9.txt
/boss/simulation1/save/9/graph/graph.10.txt
/boss/simulation1/save/9/graph/graph.11.txt
/boss/simulation1/save/9/graph/graph.12.txt
/boss/simulation1/save/9/graph/graph.13.txt
/boss/simulation1/save/9/graph/graph.14.txt
/boss/simulation1/save/9/graph/graph.15.txt
/boss/simulation1/save/9/graph/graph.16.txt
/boss/simulation1/save/9/graph/graph.17.txt
/boss/simulation1/save/9/graph/graph.18.txt
/boss/simulation1/save/9/graph/graph.19.txt
/boss/simulation1/save/9/graph/graph.20.txt
/boss/simulation1/save/9/graph/graph.21.txt
/boss/simulation1/save/9/graph/graph.22.txt
/boss/simulation1/save/9/graph/graph.23.txt
/boss/simulation1/save/9/graph/graph.24.txt
/boss/simulation1/save/9/graph/graph.25.txt
/boss/simulation1/save/9/graph/graph.26.txt
/boss/simulation1/save/9/graph/graph.27.txt
/boss/simulation1/save/9/graph/graph.28.txt
/boss/simulation1/save/9/graph/graph.29.txt
/boss/simulation1/save/9/graph/graph.30.txt
/boss/simulation1/save/9/parameters.txt
/boss/simulation1/save/10/graph/graph.1.txt
/boss/simulation1/save/10/graph/graph.2.txt
/boss/simulation1/save/10/graph/graph.3.txt
/boss/simulation1/save/10/graph/graph.4.txt
/boss/simulation1/save/10/graph/graph.5.txt
/boss/simulation1/save/10/graph/graph.6.txt
/boss/simulation1/save/10/graph/graph.7.txt
/boss/simulation1/save/10/graph/graph.8.txt
/boss/simulation1/save/10/graph/graph.9.txt
/boss/simulation1/save/10/graph/graph.10.txt
/boss/simulation1/save/10/graph/graph.11.txt
/boss/simulation1/save/10/graph/graph.12.txt
/boss/simulation1/save/10/graph/graph.13.txt
/boss/simulation1/save/10/graph/graph.14.txt
/boss/simulation1/save/10/graph/graph.15.txt
/boss/simulation1/save/10/graph/graph.16.txt
/boss/simulation1/save/10/graph/graph.17.txt
/boss/simulation1/save/10/graph/graph.18.txt
/boss/simulation1/save/10/graph/graph.19.txt
/boss/simulation1/save/10/graph/graph.20.txt
/boss/simulation1/save/10/graph/graph.21.txt
/boss/simulation1/save/10/graph/graph.22.txt
/boss/simulation1/save/10/graph/graph.23.txt
/boss/simulation1/save/10/graph/graph.24.txt
/boss/simulation1/save/10/graph/graph.25.txt
/boss/simulation1/save/10/graph/graph.26.txt
/boss/simulation1/save/10/graph/graph.27.txt
/boss/simulation1/save/10/graph/graph.28.txt
/boss/simulation1/save/10/graph/graph.29.txt
/boss/simulation1/save/10/graph/graph.30.txt
/boss/simulation1/save/10/parameters.txt
/boss/simulation1/save/11/graph/graph.1.txt
/boss/simulation1/save/11/graph/graph.2.txt
/boss/simulation1/save/11/graph/graph.3.txt
/boss/simulation1/save/11/graph/graph.4.txt
/boss/simulation1/save/11/graph/graph.5.txt
/boss/simulation1/save/11/graph/graph.6.txt
/boss/simulation1/save/11/graph/graph.7.txt
/boss/simulation1/save/11/graph/graph.8.txt
/boss/simulation1/save/11/graph/graph.9.txt
/boss/simulation1/save/11/graph/graph.10.txt
/boss/simulation1/save/11/graph/graph.11.txt
/boss/simulation1/save/11/graph/graph.12.txt
/boss/simulation1/save/11/graph/graph.13.txt
/boss/simulation1/save/11/graph/graph.14.txt
/boss/simulation1/save/11/graph/graph.15.txt
/boss/simulation1/save/11/graph/graph.16.txt
/boss/simulation1/save/11/graph/graph.17.txt
/boss/simulation1/save/11/graph/graph.18.txt
/boss/simulation1/save/11/graph/graph.19.txt
/boss/simulation1/save/11/graph/graph.20.txt
/boss/simulation1/save/11/graph/graph.21.txt
/boss/simulation1/save/11/graph/graph.22.txt
/boss/simulation1/save/11/graph/graph.23.txt
/boss/simulation1/save/11/graph/graph.24.txt
/boss/simulation1/save/11/graph/graph.25.txt
/boss/simulation1/save/11/graph/graph.26.txt
/boss/simulation1/save/11/graph/graph.27.txt
/boss/simulation1/save/11/graph/graph.28.txt
/boss/simulation1/save/11/graph/graph.29.txt
/boss/simulation1/save/11/graph/graph.30.txt
/boss/simulation1/save/11/parameters.txt
/boss/simulation1/save/12/graph/graph.1.txt
/boss/simulation1/save/12/graph/graph.2.txt
/boss/simulation1/save/12/graph/graph.3.txt
/boss/simulation1/save/12/graph/graph.4.txt
/boss/simulation1/save/12/graph/graph.5.txt
/boss/simulation1/save/12/graph/graph.6.txt
/boss/simulation1/save/12/graph/graph.7.txt
/boss/simulation1/save/12/graph/graph.8.txt
/boss/simulation1/save/12/graph/graph.9.txt
/boss/simulation1/save/12/graph/graph.10.txt
/boss/simulation1/save/12/graph/graph.11.txt
/boss/simulation1/save/12/graph/graph.12.txt
/boss/simulation1/save/12/graph/graph.13.txt
/boss/simulation1/save/12/graph/graph.14.txt
/boss/simulation1/save/12/graph/graph.15.txt
/boss/simulation1/save/12/graph/graph.16.txt
/boss/simulation1/save/12/graph/graph.17.txt
/boss/simulation1/save/12/graph/graph.18.txt
/boss/simulation1/save/12/graph/graph.19.txt
/boss/simulation1/save/12/graph/graph.20.txt
/boss/simulation1/save/12/graph/graph.21.txt
/boss/simulation1/save/12/graph/graph.22.txt
/boss/simulation1/save/12/graph/graph.23.txt
/boss/simulation1/save/12/graph/graph.24.txt
/boss/simulation1/save/12/graph/graph.25.txt
/boss/simulation1/save/12/graph/graph.26.txt
/boss/simulation1/save/12/graph/graph.27.txt
/boss/simulation1/save/12/graph/graph.28.txt
/boss/simulation1/save/12/graph/graph.29.txt
/boss/simulation1/save/12/graph/graph.30.txt
/boss/simulation1/save/12/parameters.txt
